// 
// user-variables.scss
// Use this to override Bootstrap and Around variables
//

// Example of a variable override to change Around background color
// Remove the "//" to comment it in and see it in action!
// $body-bg: #12263F;

// Theme colors
$primary:                     #394285 !default;
$secondary:                   #edf1f5 !default;
$info:		                  #3f7fca !default;
$success:                     #3fca90 !default;
$warning:                     #edcb50 !default;
$danger:                      #ed5050 !default;
