<h3 class="portfolio-title">eTaxonomist</h3>
<div class="row">
    <!-- <div class="col-2"></div> -->
    <div class="col-xxl">
        <iframe id="nxgraph_desktop" style="height: 450px; width:650px; text-align: center;" 
                src="{{ url_for('static', filename='images/figures/nxgraph.html') }}" title="description">
        </iframe>
    </div>
    <div class="col-xxl d-flex flex-column justify-content-center">
        <!-- <div class="portfolio-item"> -->
        <p>Magnam dolores commodi suscipit. 
            Necessitatibus eius consequatur ex aliquid fuga eum quidem. 
            Sit sint consectetur velit. Quisquam quos quisquam cupiditate. 
            Et nemo qui impedit suscipit alias ea. 
            Quia fugiat sit in iste officiis commodi quidem hic quas. 
        </p>
    </div>
    <!-- <div class="col-2"></div> -->
</div>

<p>Magnam dolores commodi suscipit. 
    Necessitatibus eius consequatur ex aliquid fuga eum quidem. 
    Sit sint consectetur velit. Quisquam quos quisquam cupiditate. 
    Et nemo qui impedit suscipit alias ea. 
    Quia fugiat sit in iste officiis commodi quidem hic quas.</p>




<!-- <iframe id="nxgraph_mobile" style="height: 500px; width:425px;" src="{{ url_for('static', filename='images/figures/nxgraph.svg') }}" title="description"></iframe> -->
