{% extends "base.html" %}

  {% block content %}
    <!-- Page content-->
    <!-- Hero-->
    <section class="jarallax ignore-dark-mode position-relative min-vh-100 py-5" data-jarallax data-speed="0.65">
        <div class="jarallax-img" style="background-image: url({{ url_for('static', filename='img/hero/hero_bg_sm.jpg') }});"></div>
        <div class="container position-relative zindex-2 py-lg-3 py-xl-5 my-5">
            <div class="row pt-md-3 py-xxl-5 my-5">
              <div class="col py-5 mb-md-4 mb-lg-5">
                <h2 class="display-3 mb-4">
                    I am Robert
                </h2>
                <p class="d-block fs-xl pb-2 mb-4 mb-md-5 text-dark" style="max-width: 600px;">
                    Welcome! I am Robert van de Vlasakker, and this is my personal website. 
                    I built this website with <kbd>Python(Flask)</kbd>, <kbd>Jinja2</kbd> <kbd>HTML</kbd> and <kbd>SCSS</kbd>. 
                    All data, like, my cv template, is inserted with <kbd>Jinja2</kbd> and <kbd>JSON</kbd> files.
                    You can contact me by downloading my resume.
                </p>
              </div>
            </div>
        </div>
    </section>
{% endblock %}