<section id="contact" class="contact">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Contact</h2>
            <div class="mx-auto mb-3 w-50">            
                <label for="exampleFormControlInput1" class="form-label">Email address</label>
                <input class="form-control" type="text" placeholder="Disabled input" aria-label="Disabled input example" disabled>
                <label for="exampleFormControlTextarea1" class="form-label">Message</label>
                <input class="form-control" type="text" placeholder="This contact form is disabled; download my resume if you want to contact me." aria-label="Disabled input example" disabled>    
            </div>
        </div>
    </div>
</section>

