<section id="hero" class="d-flex flex-column justify-content-center"
        style="background: url({{ url_for('static', filename='images/images/hero_bg.svg') }});">
    <div class="container" data-aos="zoom-in" data-aos-delay="100">
        <h1>Robert van de Vlasakker</h1>
        <p>I'm <span class="typed" data-typed-items="a Data Scientist, a Machine Learning Engineer, a Geo-Information Specialist, an Environmental Scientist"></span></p>
        <div class="social-links">
            <a href="https://github.com/RobertvdV" class="github"><i class="bx bxl-github"></i></a>
            <a href="https://www.linkedin.com/in/robertvandevlasakker/" class="linkedin"><i class="bx bxl-linkedin"></i></a>
        </div>
    </div>
</section>