{% extends "base.html" %}

{% block content %}

  <!-- Hero Section -->
  {% include 'cover.html' %}
  <!-- End Hero -->

  <!--  About Section -->
  {% include 'about.html' %}
  <!-- End About Section -->

  <!-- Skills Section -->
  {% include 'skills.html' %}
  <!-- End Skills Section -->

  <!-- Resume Section -->
  {% include 'resume.html' %}
  <!-- End Resume Section -->

  <!-- Portfolio Section -->
  {% include 'portfolio.html' %}
  <!-- End Portfolio Section -->

  <!--  Contact Section  -->
  {% include 'contact.html' %}
  <!-- End Contact Section -->

{% endblock %}

